

@model List<StudentMvc.Context.tbl_Student>
@{
    ViewBag.Title = "StudentList";
}

<table class="table table-hover">
    <tr>
        <th>Name</th>
        <th>Fname</th>
        <th>Email</th>
        <th>Description</th>
        
        <th>Action</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Name</td>
            <td>@item.Fname</td>
            <td>@item.Email</td>
            <td>@item.Description</td>
           
            <td>
                <a href="@Url.Action("Student",new {item.ID,item.Name,item.Fname,item.Email,item.Description })" class="btn btn-primary">Edit</a>
                <a href="@Url.Action("Delete",new {item.ID})" class="btn btn-danger">Delete</a>
            </td>

        </tr>
    }
</table>
